
<style>

    /*
    Footer styles
    */
    .footer.footer-dark {
        background: #212121;
    }

        .footer.footer-dark h3 {
            color: #fff;
            margin-bottom: 20px;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .footer.footer-dark hr {
            border-top-color: rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

    .footer .social-icons li {
        padding-right: 20px;
    }

    pa
    .footer .social-icons li:last-child {
        padding-right: 0;
    }

    .footer .social-icons li a {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.9rem;
        text-transform: capitalize;
    }

        .footer .social-icons li a i {
            position: relative;
            border-right: 1px solid rgba(255, 255, 255, 0.6);
            text-align: center;
            padding-right: 10px;
            margin-right: 10px;
        }

        .footer .social-icons li a:hover {
            color: white;
        }

    .footer h4 {
        display: inline-block;
        padding-right: 20px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        margin-bottom: 30px;
        font-weight: 300;
        letter-spacing: 0;
    }

        .footer h4 i {
            margin-right: 8px;
        }

    .footer p {
        color: rgba(255, 255, 255, 0.6);
    }

    .footer-list-item li {
        padding-left: 20px;
        padding-bottom: 10px;
        position: relative;
    }

        .footer-list-item li:last-child {
            padding-bottom: 0px;
        }

        .footer-list-item li:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\f105";
            font-family: 'FontAwesome';
        }

        .footer-list-item li a {
            color: rgba(255, 255, 255, 0.8);
        }

            .footer-list-item li a:hover {
                color: #fff;
            }

        .footer-list-item li em {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
        }

    .contact-list-item li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.6);
        min-height: 32px;
    }

        .contact-list-item li:last-child {
            padding-bottom: 0px;
        }

        .contact-list-item li i {
            position: absolute;
            left: 0;
            top: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.6);
            display: block;
        }

    .footer-light.footer {
        background-color: #f5f5f5;
    }

        .footer-light.footer h3 {
            font-size: 1rem;
            margin-bottom: 30px;
        }

        .footer-light.footer .footer-list-item li a {
            color: #333;
        }

            .footer-light.footer .footer-list-item li a:hover {
                color: #4782d3;
            }

        .footer-light.footer .footer-list-item li em {
            color: #999;
        }

        .footer-light.footer p {
            color: #666;
        }

        .footer-light.footer .contact-list-item li {
            color: #666;
        }

            .footer-light.footer .contact-list-item li i {
                color: #fff;
                background-color: #4782d3;
                border-color: #4782d3;
            }

        .footer-light.footer .social-icons li a {
            color: #999;
        }

            .footer-light.footer .social-icons li a:hover {
                color: #4782d3;
            }

            .footer-light.footer .social-icons li a i {
                border-right: 1px solid #eee;
            }

        .footer-light.footer h4 {
            color: #999;
        }

    .footer-standard {
        background-color: #222;
        font-size: 14px;
    }

        .footer-standard h3 {
            color: #fff;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 1rem;
        }

        .footer-standard .latest-news img {
            border-radius: 5px;
            width: 70px;
        }

        .footer-standard .latest-news .media-body {
            font-size: 12px;
        }

        .footer-standard .latest-news h5 {
            margin-bottom: 0px;
            font-size: 15px;
        }

            .footer-standard .latest-news h5 a {
                color: rgba(255, 255, 255, 0.7);
            }

    /*Bottom Alt*/
    .footer-bottomAlt {
        padding: 15px 0;
        padding-top: 20px;
        background-color: #000;
    }

        .footer-bottomAlt span {
            display: block;
            text-align: right;
            color: white;
        }

    .clearfix a {
        border-radius: 100%;
        padding: 3px;
        color: blue;
    }

        .clearfix a i {
            padding: 3px;
            color: white;
        }
    /**sticky footer*/
    html.footer-sticky, .footer-sticky body {
        height: 100%;
    }

    .back-to-top.show {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0px, 0);
    }

    a:hover {
        text-decoration: none;
        outline: 0 !important;
    }

    .back-to-top {
        position: fixed;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        bottom: 10px;
        right: 10px;
        background: #eee;
        color: #333;
        line-height: 50px;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
    }

        .back-to-top.show {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0px, 0);
            -webkit-transform: translate3d(0, 0px, 0);
        }

        .back-to-top i {
            display: block;
            font-size: 38px;
            line-height: 50px;
            text-align: center;
        }
</style>
<footer class="footer footer-standard pt50 pb20 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb40">
                <h3>What i can do for you?</h3>
                <p>
                    Contact sales
                    Connect with our sales team for help getting started.

                    1-863-969-8248
                </p>
                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>Quick links</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            News
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            FAQS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Term & conditions
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Privacy & policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>Latest News</h3>
                <ul class="list-unstyled latest-news">
                    <li class="media">
                        <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="~/images/footer/footer1.png" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Make beautiful templates</a></h5>
                            April 05, 2017
                        </div>
                    </li>
                    <li class="media my-3">
                        <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="~/images/footer/footer2.png" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Angular new version</a></h5>
                            Jan 05, 2017
                        </div>
                    </li>
                    <li class="media">
                        <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="~/images/footer/footer3.png" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Make templates with bootstrap 4</a></h5>
                            March 15, 2017
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>My Mind</h3>
                <img src="~/images/footer/footer1.png" alt="" class="img-fluid slides">
                <img src="~/images/footer/footer2.png" alt="" class="img-fluid slides">
                <img src="~/images/footer/footer3.png" alt="" class="img-fluid slides"/>
            </div>
        </div>
    </div>
</footer><!--/footer-->
<div class="footer-bottomAlt">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="clearfix">
                    <a href="#" class="social-icon-sm si-dark si-facebook si-light-round">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <span>&copy; Copyright @DateTime.Now.Year - All Right Reserved</span>
                <span>Website design by <a href="http://icreatesites4u.com/"><strong>icreatesites4u.com</strong></a></span>
            </div>
        </div>
    </div>
</div><!--/footer bottom-->
<a class="back-to-top hidden-xs-down show" id="back-to-top"><i class="fa fa-3x fa-angle-up"></i></a>

