@model IEnumerable<mysite.Models.Warranty>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex" id="wrapper">

        <partial name="_AdminNavbar" />
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Warranty PhoneNumber And Details</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="warranties" class="table table-sm table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Company Details</th>
                                        <th>Company Phone Number</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <a class="btn btn-danger" asp-action="Login" asp-controller="Auth">Sign In</a> to assets Warranty Page!!!
    </div>

}

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $("#warranties").DataTable({
                ajax: {
                    url: "/api/warranties",
                    dataSrc: ""
                },
                columns: [
                    { data: "companyName" },
                    { data: "details" },
                    { data: "phoneNumber" },
                    {
                        data: "edit",
                        render: function (data, type, warranty) {
                            return "<a class='btn btn-warning' href='warranty/edit/" + warranty.id + "'> Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-warranty-id=" + data + ">Delete</button>";
                        }
                    }

                ]
            })
            $("#warranties").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this Info?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/warranties/" + button.attr("data-warranty-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });
        })

    </script>

}
