@model IEnumerable<mysite.Models.Warranty>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Warranty PhoneNumber And Details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="warranties" class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Company Details</th>
                                <th>Company Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="container">
    <a class="btn btn-danger" asp-action="Login" asp-controller="Auth">Sign In</a> to assets Warranty Page!!!
</div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $("#warranties").DataTable({
                ajax: {
                    url: "/api/warranties",
                    dataSrc: ""
                },
                columns: [
                    { data: "companyName" },
                    { data: "details" },
                    { data: "phoneNumber" }

                ]
            })
        })

    </script>

}