@model CustomerViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex" id="wrapper">

    <partial name="_AdminNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="container-fluid">
            <form asp-controller="Customers" asp-action="Edit" method="post" enctype="multipart/form-data" autocomplete="off">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CustomerFirst" class="control-label"></label>
                    <input asp-for="CustomerFirst" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CustomerLast" class="control-label"></label>
                    <input asp-for="CustomerLast" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MobilPhone" class="control-label"></label>
                    <input asp-for="MobilPhone" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="BillingAddress" class="control-label"></label>
                    <input asp-for="BillingAddress" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="WorkOrder" class="control-label"></label>
                    <input asp-for="WorkOrder" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Model Image/Serial</label>
                    <input class="btn btn-primary" asp-for="CurrentImage" type="hidden" />
                    <input class="btn btn-info" asp-for="ModelImage" />
                </div>
                @Html.AntiForgeryToken()
                <button type="Submit" class="btn btn-info btn-lg">Add New Customer</button>
            </form>
        </div>
    </div>
</div>