@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="blogform-signin" asp-controller="Auth" asp-action="Login" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
        <label for="Username">Username</label>
        <input class="form-control" asp-for="Username" required autofocus/>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input class="form-control" asp-for="Password" required/>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a asp-controller="Auth" asp-action="Register">Register</a>
</form>

