
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron container">
    <div class="row">
        <div class="col-12">
            <h2>Tech Panel</h2>
        </div>
    </div>
    <div class="row">
        <div class="card col-xs-6 col-md-3">
            <a href="#" class="thumbnail text-center">
                <i class="fa fa-plus fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">New Invoice</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Parts" class="thumbnail text-center">
                <i class="fa fa-plus fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">New Estimate</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Parts" class="thumbnail text-center">
                <i class="fa fa-list fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Invoice List</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Parts" class="thumbnail text-center">
                <i class="fa fa-list-ol fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Estimate List</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/MyMessages" class="thumbnail text-center">
                <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Check Messages</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Techlines" class="thumbnail text-center">
                <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Tech Line</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Customers" class="thumbnail text-center">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Customers</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Parts" class="thumbnail text-center">
                <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Truck Inventory</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Calendar" class="thumbnail text-center">
                <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Calendar</p>
                </div>
            </a>
        </div>
        <div class="card col-xs-6 col-md-3">
            <a href="/Warranty" class="thumbnail text-center">
                <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                <div class="card-body">
                    <p class="card-text alert-info">Warranty</p>
                </div>
            </a>
        </div>

    </div>
</div>