
/*--[Card-me]--*/
#cardin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(83, 82, 82,0.1);
    margin-bottom: 30px;
    padding: 50px 0;
    text-align: center;
    background: #fff;
}

    #cardin .circle {
        border: 5px solid #f3f3f5;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #e7e8ec inset;
        width: 120px;
        height: 120px;
        display: inline-block;
        color: #27ae60;
        margin-bottom: 10px;
    }

        #cardin .circle img {
            display: table;
            height: 74px;
            margin: 16px auto;
            width: 74px;
        }

body {
    margin: 0;
    padding: 0;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.section-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.site-main .about-area .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.site-main .section-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* -- [Tools] --*/
.site-main .card-body .card p {
    background: #ffffff;
}

.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

    .frontside .card {
        background: white;
        min-height: 312px;
    }

        .frontside .card a {
            font-size: 18px;
            color: #007bff !important;
        }

        .frontside .card p {
            font-size: 18px;
            color: #007bff !important;
        }

        .frontside .card .card-title,
        .backside .card .card-title {
            color: #007bff !important;
        }

        .frontside .card .card-text,
        .backside .card .card-title {
            color: #007bff !important;
        }

        .frontside .card .card-body img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

.about-area .frontside,
.about-area .backside {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.flip-card {
    background-color: transparent;
    width: 160px;
    height: 160px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}


/*--[Accordion-area]--*/

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    button.accordion.active, button.accordion:hover {
        background-color: #ddd;
    }

.accordion .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

/*--[tools-Area]--*/
#tools {
    padding: 100px 0;
}

    #tools p {
        font-size: 20px;
        color: #000;
        padding: 20px 0;
    }

    #tools .box {
        padding: 50px 0;
    }

.outside-container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.outside-container:hover .overlay {
    height: 100%;
}

.text {
    text-align: center;
    white-space: nowrap;
    color: white;
    overflow: hidden;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
